extends layout

block content
  h1= title

  table(class='table table-hover')
    caption Portfolio
    tr
      th Symbol
      th Company
      th Price
      th Qty.
    each stock, i in stocks
      tr
        td #{stock.symbol}
        td #{stock.name}
        td #{stock.price}
        td #{stock.qty}
        td
          a(href="/detail/id/#{stock._id}") Buy | Sell
